@* For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860 *@
@{

   
    Layout = "~/Views/Shared/_LayoutAsientosContables.cshtml";
}

<h2>@ViewData["Title"]</h2>

       
</style>

<link rel="stylesheet" href="~/select2/css/select2.css" />
<link rel="stylesheet" href="~/select2-bootstrap-5-theme/select2-bootstrap-5-theme.css" />
<div class="title mx-auto">
    <h3 class="text-center">Crear Pago a cuenta</h3>
</div>

<div class="form-damasco container">

  
    <div class="row g-2">
        <div class="col form-group">
            <label>Sucursal</label>
            <select  asp-items="Model.Sucursales" class="form-select" id="select-sucursal">
                <option value="">Elige la Sucursal</option>
            </select>
        </div>
        <div class="col form-group">
            <label>Fecha de contabilización
            </label>
            <input type="date" id="fecha-cont" class="form-control" value='@DateTime.Today.ToString("dd-MM-yyyy")' pattern="\d{2}-\d{2}-\d{4}" onchange="getTasaDolar(event)" onkeydown="return false" />
        </div>
       
    </div>
  <div class="row g-2">
      
        <div class="col form-group">
            <label>Cuenta contable</label>
            <select id="cuenta-contable" asp-items="Model.CuentasContables" class="form-select">
                <option value="">Elige una cuenta</option>
            </select>
        </div>
        <div class="col form-group">
            <label>Debe/Haber</label>
            <select id="select-debe-haber" class="form-select">
                <option value="">Elige una opcion</option>
                <option value="1">Debe</option>
                <option value="2">Haber</option>
            </select>
        </div>
  </div>
 
  <div class="row g-4">
        <div class="col form-group">
            <label>Moneda</label>
            <select id="select-currency" class="form-select">
                <option value="">Elige una moneda</option>
                <option value="1">Bolívar</option>
                <option value="2">Dólar</option>
            </select>
        </div>
        <div class="col form-group">
            <label>Monto</label>
            <input class="form-control" id="monto" />
        </div>

        <div class="col form-group">
            <label >Comentario</label>
            <input  class="form-control" id="memo" />
        </div>
        <div class="col form-group">
            <label >Referencia</label>
            <input  class="form-control" id="referencia"/>
        </div>

        <div class="col form-group">
            <label>Referencia2</label>
            <input class="form-control" id="referencia2" />
        </div>
        
  </div>

   
    <div class="mt-3">
        <div class="row">
            <div class="col form-group">
                <button class="btn btn-secondary" onclick="generarTabla()">Cargar asiento</button>
            </div>
        </div>
    </div>

</div>
<input type="hidden" value="" name="tasa-cambiaria" id="tasa-cambiaria" />
<div class="container mt-2">
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table table-bordered table-sm" id="table">
                <thead>
                    <tr>
                        <th>Cuenta mayor/Código SN</th>
                        <th>Cuenta mayor/Nombre SN</th>
                        <th>Débito</th>
                        <th>Crédito</th>
                        <th>Débito(MS)</th>
                        <th>Crédito(MS)</th>
                        <th>Comentario</th>
                        <th>Referencia</th>
                        <th>Acciones</th>
                        
                    </tr>
                </thead>
                <tbody id="tableBody" class="tabla-asiento"></tbody>
                <tfoot id="tableFoot" class="table-info">
                 
                </tfoot>
            </table>
        </div>
    </div>

    <div class="mt-3">
        <div class="row">
            <div class="col form-group">
                <button class="btn btn-info" onclick="postAsientos()">Crear</button>
                <button class="btn btn-warning" onclick="generarTabla()">Cancelar</button>
            </div>
           
        </div>
    </div>
</div>
<script src="~/select2/js/select2.js" defer></script>
<script src="~/js/jquery.maskMoney.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>
<script>

    $(document).ready(function () {
        $('#cuenta-contable').select2({
            theme: "bootstrap-5",

            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
           
        });
     
    });
    $(function () {
        $('#monto').maskMoney({ allowNegative: false, thousands: '.', decimal: ',' });
    })
    $('#monto').on('paste', function () {
        $(this).val(' ');
    });

    async function generarTabla(){ 
        let sucursal = document.getElementById('select-sucursal').value;
        let fechaContabilizacion = document.getElementById('fecha-cont').value
        let cuentaContableCodigo = $("#cuenta-contable").select2("val");
        var CuentaNombreSelection = $("#cuenta-contable :selected").select2(this.data);
        let cuentaContableNombre = $(CuentaNombreSelection).text();
        let tipoDeAsiento = document.getElementById('select-debe-haber').value
        let montoAsiento = $("#monto").maskMoney('unmasked')[0]
        let comentarios = document.getElementById('memo').value
        let referencia = document.getElementById('referencia').value
        let divisasSelect = document.getElementById('select-currency').value
        if (!sucursal || !fechaContabilizacion || !cuentaContableCodigo || !montoAsiento || !tipoDeAsiento || !divisasSelect) {
            renderError();
            return;
        } else {

            agregarFilaAtabla(sucursal, fechaContabilizacion, cuentaContableCodigo, cuentaContableNombre, tipoDeAsiento, montoAsiento, comentarios,referencia, divisasSelect)
        }
    }
    var formatter = new Intl.NumberFormat('es-VE', {
        style: 'currency',
        currency: 'VED',
        currencyDisplay: 'symbol',
        minimumFractionDigits: 2
    });
   
    function agregarFilaAtabla(sucursal, fechaContabilizacion, cuentaContableCodigo, cuentaContableNombre, tipoDeAsiento, montoAsiento, comentarios,referencias, divisasSelect) {
        //limpio formularios
      
        document.getElementById('monto').value = ''
        document.getElementById('select-currency').value = ''
        document.getElementById('select-debe-haber').value = ''
        //construimos tabla
        const tableElement = document.getElementById('tableBody');
        const trElement = document.createElement('tr');
        //codigo de cuenta
        const cuentaContableCodigoValue = document.createElement('td');
        cuentaContableCodigoValue.setAttribute('id', 'cuentaContableCodigoValue');
        //nombre de cuenta
        const cuentaContableNombreValue =  document.createElement('td');
        cuentaContableNombreValue.setAttribute('id', 'cuentaContableNombreValue');
        //monto de debe en bolivars
        const montoDebeValue = document.createElement('td');
        montoDebeValue.setAttribute('id', 'montoDebeValue');
        //monto de haber en bolivares
        const montoHaberValue = document.createElement('td');
        montoHaberValue.setAttribute('id', 'montoHaberValue');
        //monto de debe en dolares
        const montoDebeValueMs = document.createElement('td');
        montoDebeValueMs.setAttribute('id', 'montoDebeValueMs');
        //monto de haber en dolares
        const montoHaberValueMs = document.createElement('td');
        montoHaberValueMs.setAttribute('id', 'montoHaberValueMs');
        //comentario
        const comentarioValue = document.createElement('td');
        comentarioValue.setAttribute('id', 'comentarioValue');
        //referencia
        const referenciaValue = document.createElement('td');
        referenciaValue.setAttribute('id', 'referenciaValue');
        //select de divisas
        const currencyValue = document.createElement('td');
        currencyValue.setAttribute('id', 'currencyValue');
        currencyValue.style.visibility = 'collapse'
        //select de tipo de asiento
        const asientoValue = document.createElement('td');
        asientoValue.setAttribute('id', 'asientoValue');
        asientoValue.style.visibility = 'collapse'
        //acciones
        const actionElement = document.createElement('td');
        actionElement.setAttribute('id', 'actions');
    
        //genero tabla
        cuentaContableCodigoValue.innerHTML = cuentaContableCodigo
        cuentaContableNombreValue.innerHTML = cuentaContableNombre
        
        //ajsuto formato de bolivares
        
        var tasa = document.getElementById('tasa-cambiaria').value
        currencyValue.innerHTML = divisasSelect
        asientoValue.innerHTML = tipoDeAsiento
        if (tipoDeAsiento === '1') {

            if (divisasSelect === '1') { 
                //cuando ingreso monto en bolivares
                console.log(tasa)
                montoDebeValue.innerHTML = formatter.format(montoAsiento).replace("VED", "Bs.");

                var rateDebe = montoAsiento / tasa

                montoDebeValueMs.innerHTML = rateDebe.toLocaleString('es-VE', { style: 'currency', currency: 'USD' });
            } else if (divisasSelect === '2') {
                //cuando ingreso monto en dolares
                console.log(tasa)
                var rateHaber = montoAsiento * tasa
                montoDebeValue.innerHTML = formatter.format(rateHaber).replace("VED", "Bs.");
                montoDebeValueMs.innerHTML = montoAsiento.toLocaleString('es-VE', { style: 'currency', currency: 'USD' });
            
            }
           

        }
        else if (tipoDeAsiento === '2') {
            if (divisasSelect === '1') {
                //cuando ingreso monto en bolivares
                montoHaberValue.innerHTML = formatter.format(montoAsiento).replace("VED", "Bs.");
                var rateHaber = montoAsiento / tasa
                montoHaberValueMs.innerHTML = rateHaber.toLocaleString('es-VE', { style: 'currency', currency: 'USD' });
            
            } else if (divisasSelect === '2') {
                //cuando ingreso monto en dolares
                var rateHaber = montoAsiento * tasa
                montoHaberValue.innerHTML = formatter.format(rateHaber).replace("VED", "Bs.");
                montoHaberValueMs.innerHTML = montoAsiento.toLocaleString('es-VE', { style: 'currency', currency: 'USD' });
            
            }
           
        }
        var comentInput = comentarios.trim()
        var referenciaInput = referencias
       
        comentarioValue.innerHTML = `<input type="text" id="comentario-tabla" placeholder = "Comentario" value="${comentInput}"">`
        referenciaValue.innerHTML = `<input type="text" id="referencia-tabla" placeholder = "Referencia" value="${referenciaInput}">`
        actionElement.innerHTML = `
                    <a class="btn btn-warning" onclick="editarFila(this)"><i class="fa-solid fa-edit"></i>Editar</a>
                    <a class="btn btn-danger" onclick="deleteRow(this)"><i class="fa-solid fa-trash-can"></i>Borrar</a>`;
        
        trElement.appendChild(cuentaContableCodigoValue)
        trElement.appendChild(cuentaContableNombreValue)
        trElement.appendChild(montoDebeValue)
        trElement.appendChild(montoHaberValue)
        trElement.appendChild(montoDebeValueMs)
        trElement.appendChild(montoHaberValueMs)
        trElement.appendChild(comentarioValue)
        trElement.appendChild(referenciaValue)
        trElement.appendChild(currencyValue)
        trElement.appendChild(asientoValue)
        trElement.appendChild(actionElement)
        
        tableElement.appendChild(trElement);
        generarBalancesTotales()
    }
    buildFooterTable()
    function removeLocalCurrencyFormat(currencyString) {
        console.log(currencyString)
        // Remove any non-numeric characters (including commas)
        const sanitizedString = currencyString.replace(/[^0-9,-]/g, '');
        const decimalString = sanitizedString.replace(',', '.');
        // Convert the sanitized string to a float
        let floatValue;
        if (!currencyString) {
            floatValue = parseFloat(0);
            return floatValue;
        } else {
            floatValue = parseFloat(decimalString)
            return floatValue;
        }

    }
    function generarBalancesTotales() {
        var table = document.getElementById("tableBody");
           var montoDebeBolivares = 0
        var montoHaberBolivares = 0
        var montoDebeDolares = 0
        var montoHaberDolares = 0
            for (var i = 0; i < table.rows.length; i++) {
            var dbBolivares = removeLocalCurrencyFormat(table.rows[i].cells[2].innerHTML)
            var habBolivares = removeLocalCurrencyFormat(table.rows[i].cells[3].innerHTML)
            var debDolares = removeLocalCurrencyFormat(table.rows[i].cells[4].innerHTML)
            var habDolares = removeLocalCurrencyFormat(table.rows[i].cells[5].innerHTML)

            montoDebeBolivares = montoDebeBolivares + dbBolivares;
            montoHaberBolivares = montoHaberBolivares + habBolivares;
            montoDebeDolares = montoDebeDolares + debDolares;
            montoHaberDolares = montoHaberDolares + habDolares;
        }
        var contenidoDebeBol = document.getElementById('tfootDebeBoilivaresAsiento')
        var contenidoHaberBol = document.getElementById('tfootHaberBoilivaresAsiento')
        var contenidoDebeDolaresAsiento = document.getElementById('tfootDebeDolaresAsiento')
        var contenidoHaberDolaresAsiento = document.getElementById('tfootHaberDolaresAsiento')
        contenidoDebeBol.innerHTML = formatter.format(montoDebeBolivares).replace("VED", "Bs.");
        contenidoHaberBol.innerHTML = formatter.format(montoHaberBolivares).replace("VED", "Bs.");

        contenidoDebeDolaresAsiento.innerHTML = montoDebeDolares.toLocaleString('es-VE', { style: 'currency', currency: 'USD' });
        contenidoHaberDolaresAsiento.innerHTML = montoHaberDolares.toLocaleString('es-VE', { style: 'currency', currency: 'USD' });
    }
    
    function buildFooterTable() {
       
        //formato tfoot
    //creo elemnto pie de table
        const tableFoot = document.getElementById('tableFoot');
        const trElementFoot = document.createElement('tr');
        const tfootWhiteSpace1 = document.createElement('td');
        const tfootWhiteSpace2 = document.createElement('td');
        const tfootWhiteSpace3 = document.createElement('td');
        const tfootWhiteSpace4 = document.createElement('td');
        //id para html
        const tfootDebeBoilivaresAsiento = document.createElement('td');
        tfootDebeBoilivaresAsiento.setAttribute('id', 'tfootDebeBoilivaresAsiento');
        const tfootHaberBoilivaresAsiento = document.createElement('td');
        tfootHaberBoilivaresAsiento.setAttribute('id', 'tfootHaberBoilivaresAsiento');
        const tfootDebeDolaresAsiento = document.createElement('td');
        tfootDebeDolaresAsiento.setAttribute('id', 'tfootDebeDolaresAsiento');
        const tfootHaberDolaresAsiento = document.createElement('td');
        tfootHaberDolaresAsiento.setAttribute('id', 'tfootHaberDolaresAsiento');
        //montos pie de tabla
        tfootDebeBoilivaresAsiento.innerHTML = 0
        tfootHaberBoilivaresAsiento.innerHTML = 0
        tfootDebeDolaresAsiento.innerHTML = 0
        tfootHaberDolaresAsiento.innerHTML = 0
        trElementFoot.appendChild(tfootWhiteSpace1)
        trElementFoot.appendChild(tfootWhiteSpace2)
        trElementFoot.appendChild(tfootDebeBoilivaresAsiento)
        trElementFoot.appendChild(tfootHaberBoilivaresAsiento)
        trElementFoot.appendChild(tfootDebeDolaresAsiento)
        trElementFoot.appendChild(tfootHaberDolaresAsiento)
        trElementFoot.appendChild(tfootWhiteSpace3)
        trElementFoot.appendChild(tfootWhiteSpace4)
        tableFoot.appendChild(trElementFoot)
    }
  
    //armado de json
    async function postAsientos() {
        let sucursalValor = document.getElementById('select-sucursal').value
        let fechaContablilizacion = document.getElementById('fecha-cont').value
        let comentarioHeader = document.getElementById('memo').value
        let referneciaHeader = document.getElementById('referencia').value
        let referenciaHeader1 = document.getElementById('referencia2').value
        if (sucursalValor && fechaContablilizacion) {
            var Asientos = []
            $("#tableBody tr").each(function () {

                let comentarioTabla = document.querySelector('#comentario-tabla').value
                if ($(this).find('td').length > 0) {
                    //let comentarioTabla = document.querySelector('#comentario-tabla').value
                    console.log(comentarioTabla)
                    //let comentarioTabla = $('#comentario-tabla').val()
                    let referenciaTabla = $('#referencia-tabla')
                    console.log(referenciaTabla.val())
                    var asientoDetalle = {
                 
                        AccountCode: $(this).find("#cuentaContableCodigoValue").text(),
                        Debit: removeLocalCurrencyFormat($(this).find("#montoDebeValue").text()),
                        Credit: removeLocalCurrencyFormat($(this).find("#montoHaberValue").text()),
                        LineMemo: $(this).find("#comentario-tabla").val(),
                        Sucursal: sucursalValor,
                        Referencia1: $(this).find("#referencia-tabla").val()


                    };
                    Asientos.push(asientoDetalle)
                }
            })

            const objectAsiento = {
                sucursal: sucursalValor,
                fecha: fechaContablilizacion,
                comentario: comentarioHeader,
                referencia: referneciaHeader,
                LineasContables: Asientos
            }
            console.log(objectAsiento);

            // Mostrar la alerta de carga
            Swal.fire({
                title: 'Cargando',
                html: 'Por favor espera...',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });
            try {
                     const response = await fetch("/CrearAsiento/CrearAsientodesdejson", {
                    method: "POST",
                    body: JSON.stringify(objectAsiento),
                    headers: {
                        "Content-Type": "application/json"
                        }
                    });

                if (response.ok) {
                   // console.log(response)
                   let data = await response.json()
                    console.log(data)
                    console.log(data.resultado)
                    Swal.fire({
                        icon: 'success',
                        title: 'Éxito',
                        text: data.message
                    }).then(() => {
                        // Opcional: puedes recargar la página después de cerrar la alerta
                        location.reload();
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message
                    });
                }
            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error al comunicarse con el servidor.',
                  
                }).then(() => {
                    // Opcional: puedes recargar la página después de cerrar la alerta
                    //location.reload();
                })
                //showAlert('error', 'Error al comunicarse con el servidor.');
            }
        } else {
            renderError();
        }
    }

    function editarFila(button) {
        let row = button.parentNode.parentNode;

        let evaluateMontoDebe = row.querySelector('#montoDebeValue').innerText;
        let evaluateMontoHaber = row.querySelector('#montoHaberValue').innerText;
        let cuentaSelector = row.querySelector('#cuentaContableCodigoValue').innerText;
        let asientoSelector = row.querySelector('#asientoValue').innerText
        let divisasSelector = row.querySelector('#currencyValue').innerText
        console.log(divisasSelector)
        
        if (evaluateMontoDebe) {
            let montoFormatoDebe = removeLocalCurrencyFormat(evaluateMontoDebe)
            //document.getElementById('monto').value = montoFormatoDebe;
            $('input#monto').val(evaluateMontoDebe).trigger('mask.maskMoney');
            console.log(montoFormatoDebe)
        } else if (evaluateMontoHaber) {
            let montoFormatoHaber = removeLocalCurrencyFormat(evaluateMontoHaber)
            //document.getElementById('monto').value = montoFormatoHaber;
            $('input#monto').val(evaluateMontoHaber).trigger('mask.maskMoney');
        }
        // Elimina la fila antes de volver a agregarla
        $("#cuenta-contable").select2();
        document.getElementById('select-debe-haber').value = asientoSelector
         document.getElementById('select-currency').value = divisasSelector
        $('#cuenta-contable').val(cuentaSelector).trigger("change")
        row.parentNode.removeChild(row);
        generarBalancesTotales()
    }
    //consulto divisas en base a la fecha
    async function getTasaDolar(e){
        console.log(e.target.value)
        const objectFecha = { fecha: e.target.value }
        try {
            const response = await fetch("/CrearAsiento/EnviarFactor", {
                method: "POST",
                body: JSON.stringify(objectFecha),
                headers: {
                    "Content-Type": "application/json"
                }
            });

            if (response.ok) {
                
                const data = await response.json();
                console.log(data)
                $('input[name="tasa-cambiaria"]').val(data.resultado)

            } else {
                showAlert('error', 'Error al generar la factura');
            }
        } catch (error) {
            showAlert('error', 'Error al comunicarse con el servidor.');
        }

    }
    var today = new Date().toISOString().split('T')[0];
    document.getElementById("fecha-cont").setAttribute('max', today);
    function deleteRow(button) {
        let row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
        generarBalancesTotales()
    }


    </script>
    
            