@* For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860 *@
@{
    ViewData["Title"] = "Prueba Crear Asiento desde JSON";
}

<h2>@ViewData["Title"]</h2>

<form id="crearAsientoForm" method="post" action="/CrearAsiento/CrearAsientodesdejson">
    <input type="hidden" name="jsonAsiento" id="jsonAsiento" value='{
        "Sucursal": 46,
        "comentario": "Este es un comentario de prueba",
        "referencia": "12345",
        "LineasContables": [
            {
                "AccountCode": "1.1.01.01.01.03",
                "Debit": 10,
                "Credit": 0,
                "LineMemo": "Línea de débito de prueba",
                "Sucursal": 46
            },
            {
                "AccountCode": "1.1.01.01.03.10",
                "Debit": 0,
                "Credit": 20,
                "LineMemo": "Línea de crédito de prueba",
                "Sucursal": 46
            },
{
          "AccountCode": "1.1.01.01.01.03",
                "Debit": 10,
                "Credit": 0,
                "LineMemo": "Línea de crédito de prueba",
                "Sucursal": 46
            }
        ]
    }' />
    <button type="submit" class="btn btn-primary">Crear Asiento</button>
</form>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            $('#crearAsientoForm').on('submit', function (e) {
                e.preventDefault();

                var form = $(this);
                var formData = form.serialize();

                $.ajax({
                    type: 'POST',
                    url: form.attr('action'),
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Éxito',
                                text: response.message
                            }).then(() => {
                                // Opcional: puedes recargar la página después de cerrar la alerta
                                location.reload();
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message
                            });
                        }
                    },
                    error: function (response) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: response.responseJSON.message
                        });
                    }
                });
            });
        });
    </script>
    
}                  